{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="form-container">
        <p class="title">Welcome back</p>
        <form class="form" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <input type="email" name="email" id="inputEmail" value="{{ last_username }}" class="input" placeholder="Email" autocomplete="email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="input" placeholder="Password" autocomplete="current-password" required>
            <p class="page-link">
                <span class="page-link-label">Forgot Password?</span>
            </p>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class="form-btn" type="submit">Log in</button>
        </form>
        <p class="sign-up-label" >
            Don't have an account?<span class="sign-up-link"> <a href="{{ path('app_register') }}">Sign up</a></span>
        </p>
    </div>

{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#    <label for="inputEmail">Email</label>#}
{#    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#    <label for="inputPassword">Password</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}"#}
{#    >#}

{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}
{% endblock %}
