{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}
{% block pagetitle %}Projects{% endblock %}
{% block subtitle %}Project{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Chef de projet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.createdBy.email }}</td>
                <td>
                    <div class="btn-action" role="group" aria-label="Basic example">
                        <a href="{{ path('app_project_show', {'id': project.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        <a href="{{ path('app_project_edit', {'id': project.id}) }}"><i class="fa-solid fa-edit"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_project_new') }}">Create new</a>
{% endblock %}
